{
  {%- if root.password %}
  "root_enc_password": "{{ root.password }}"
  {%- endif -%}{{ "," if users and root_password }}
  {% if users -%}
  "users": [
    {% for u in users -%}
    {
      "username": "{{ u.username }}",
      "enc_password": "{{ u.password }}",
      "sudo": {{ u.sudo | default("false") | lower }}
    }{{ "," if not loop.last }}
    {% endfor %}
  ]
  {% endif %}
}
