{
  "additional-repositories": [],
  "archinstall-language": "English",
  {#- TODO fix #}
  "audio_config": {
    "audio": "pipewire"
  },
  "bootloader": "grub",
  "custom_commands": [
    {%- for c in (custom_commands or {}).archinstall or {} %}
    "{{ c }}"{{ "," if not loop.last }}
    {%- endfor %}
  ],
  "debug": false,
  {% if disk_config %}
  "disk_config": {{ disk_config | tojson }},
  {% endif %}
  {#- disk_encryption #}
  "hostname": "{{ hostname }}",
  "kernels": [
    "linux"
  ],
  "locale_config": {
    "kb_layout": "{{ keymap | default("us") }}",
    "sys_enc": "UTF-8",
    "sys_lang": "en_US"
  },
  "network_config": {
      "type": "nm"
  },
  "no_pkg_lookups": false,
  "ntp": true,
  "offline": false,
  "packages": [
    {%- for p in (packages.iso + packages.install) %}
    "{{ p }}"{{ "," if not loop.last }}
    {%- endfor %}
  ],
  "parallel downloads": 5,
  "profile_config": {
    "gfx_driver": null,
    "greeter": null,
    "profile": {
      "custom_settings": {},
      "details": [],
      "main": "Minimal"
    }
  },
  "save_config": null,
  "script": "guided",
  "silent": false,
  "swap": true,
  "timezone": "Europe/Madrid",
  "version": null
}
